<div class="container-fluid mg">
    <div class="row">
        <div class="col ms-5  mt-5">
            <img src="../../assets/logo-black.png" alt="" width="120px" height="28px">
            <p class=" txt mt-3">Daitool is the global reference site for high-quality, Japanese brand, industrial tools and supplies. We empower clients to build better, anywhere in the world.</p>
            <div class="flexi">
                <div class="cam bg-logo">
                    <i class="cam bi bi-play-btn-fill"></i>
                </div>
                <div class="cam2 bg-logo2">
                    <i class="cam2 bi bi-linkedin"></i>
                </div>
                <div class="cam2 bg-logo2">
                    <i class="cam2 bi bi-twitter"></i>
                </div>
                <div class="cam2 bg-logo2">
                    <i class="cam2 bi bi-facebook"></i>
                </div>
                <div class="cam2 bg-logo2">
                    <i class="cam2 bi bi-instagram"></i>
                </div>
            </div>
        </div>
        <div class="col mob-f mt-5">
            <p class="title">QUICK LINKS</p>
            <P class="txt">About us</P>
            <p class="txt">Blog</p>
            <p class="txt">Shop</p>
            <p class="txt">Brands</p>
            <p class="txt">Wholesale</p>
        </div>
        <div class="col mob-f mt-5">
            <p class="title">CUSTOMER AREA</p>
            <p class="txt">My Account</p>
            <p class="txt">Deliveries</p>
            <p class="txt">Help Center (FAQs)</p>
            <p class="txt">Terms</p>
            <p class="txt">Privacy Policy</p>

        </div>
        <div class="col mob-f mt-5">
            <p class="title">CONTACT</p>
            <p class="txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus est reprehenderit laborum cumque laboriosam.</p>
            <p class="txt">Have questions?</p>
            <div class="flexi">
                <p class="txt2">+ 123 456 789</p>
                <button class="btn btn-outline-info ms-5">CONTACT</button>
            </div>

        </div>
        <div class="mob-s">
            <div class="col mt-5">
                <p class="title">QUICK LINKS</p>
                <P class="txt">About us</P>
                <p class="txt">Blog</p>
                <p class="txt">Shop</p>
                <p class="txt">Brands</p>
                <p class="txt">Wholesale</p>
            </div>
            <div class="col mt-5">
                <p class="title">CUSTOMER AREA</p>
                <p class="txt">My Account</p>
                <p class="txt">Deliveries</p>
                <p class="txt">Help Center (FAQs)</p>
                <p class="txt">Terms</p>
                <p class="txt">Privacy Policy</p>

            </div>
        </div>
        <div class="col mob-s fx mt-5">
            <p class="txt">Have questions?</p>
            <div class="flexi">
                <p class="txt2">+ 123 456 789</p>

            </div>
            <button class="btn btn-outline-info ">CONTACT</button>

        </div>
    </div>

</div>
<hr class="mobil-no">
<div class="row mobil-no">
    <div class="col-6 ">
        <p class="xxs ms-5">Daitool - © 2021 All Rights Reserved </p>
    </div>

    <div class="col-6 ">
        <p class="xxs">Payment <span class="visa ms-5">VISA</span>
            <span class="master ms-4">MASTER</span>
            <SPAN class="cardt">CARD</SPAN>
            <SPAN class="payp ms-4">PAYPAL</SPAN>
            <SPAN class="cardt ms-4">BITCOIN</SPAN>
        </p>

    </div>
</div>
<div class="row mobil-fun ">


    <div class="col-6 mt-5">
        <span class="visa ms-4 ">VASI</span>
        <span class="master ms-5">MASTER</span>
        <SPAN class="cardt">KARD</SPAN>
        <SPAN class="payp ms-5">PEYPOL</SPAN>
        <SPAN class="cardt ms-5">BITKOIN</SPAN>

        <hr class="h">
    </div>
    <div class="col-6 w-100 ">
        <p class=" ms-5">Daitool - © 2021 All Rights Reserved </p>
    </div>
</div>