<div class="container mt-4 ">
    <div class="row ms-1">
        <div class="col-sm-3 col-4 card-m">
            <div class="divi">
                <h5>Safety</h5>
                <p>Subtitulo</p>
            </div>

        </div>
        <div class="col-sm-3 col-4 card-j ">
            <div class="divi">
                <h5>Janitorial</h5>
                <p>Subtitulo</p>
            </div>

        </div>
        <div class="col-sm-3 col-4 card-t ">
            <div class="divi">
                <h5>Tools</h5>
                <p>Subtitulo</p>
            </div>

        </div>
    </div>
    <div class="row ms-1 mt-1">
        <div class="col-sm-3 col-4 card-w">
            <div class="divi">
                <h5>Woodworking</h5>
                <p>Subtitulo</p>
            </div>

        </div>
        <div class="col-sm-3 col-4 card-g ">
            <div class="divi">
                <h5>Gardening</h5>
                <p>Subtitulo</p>
            </div>

        </div>
        <div class="col-sm-3 col-4 card-o ">
            <div class="divi">
                <h5>Office Supplies</h5>
                <p>Subtitulo</p>
            </div>

        </div>
    </div>
</div>