<div class="container mt-4 ">
    <div class="row ms-1">
        <div class="col-4 card-m card-gen">
            <div class="divi">
                <h5>Safety</h5>
                <p>Subtitulo</p>
            </div>

        </div>
        <div class="col-4 card-j card-gen ">
            <div class="divi">
                <h5>Janitorial</h5>
                <p>Subtitulo</p>
            </div>

        </div>
        <div class="col-4 card-t card-gen">
            <div class="divi">
                <h5>Tools</h5>
                <p>Subtitulo</p>
            </div>

        </div>
    </div>
    <div class="row ms-1 mt-1">
        <div class="col-4 card-w card-gen">
            <div class="divi">
                <h5>Woodworking</h5>
                <p>Subtitulo</p>
            </div>

        </div>
        <div class="col-4 card-g card-gen">
            <div class="divi">
                <h5>Gardening</h5>
                <p>Subtitulo</p>
            </div>

        </div>
        <div class="col-4 card-o card-gen">
            <div class="divi">
                <h5>Office Supplies</h5>
                <p>Subtitulo</p>
            </div>

        </div>
    </div>
</div>