<div class="container mt-5">
    <div class="row text-center ">
        <div class="col">
            <div class="bord">
                <h2><i class="bi bi-chat-fill"></i></h2>
                <h5>Efficient</h5>
                <p>International Shipping</p>
            </div>

        </div>
        <div class="col">
            <div class="bord">
                <h2><i class="bi bi-award-fill"></i></h2>
                <h5>High-Quality</h5>
                <p>Guaranteed</p>
            </div>
        </div>
        <div class="col">
            <div class="bord">
                <h2><i class="bi bi-shield-plus"></i></h2>
                <h5>Reliable</h5>
                <p>from $40</p>
            </div>
        </div>
        <div class="col">
            <div class="bord">
                <h2><i class="bi bi-globe2"></i></h2>
                <h5>Global</h5>
                <p>Ships to 50 countries</p>
            </div>
        </div>
        <div class="col">
            <div class="bord">
                <h2><i class="bi bi-person-fill"></i></h2>
                <h5>Customer Focus</h5>
                <p>from $40</p>
            </div>
        </div>
    </div>
</div>
<div class="cont-mob ">
    <div class="mob-title">Daitool Promise</div>


    <div class="flexi">
        <div class="badg-1">
            <h2><i class="bi bi-chat-fill"></i></h2>
            <h5>High-Quality</h5>
            <p>Guaranteed</p>
        </div>
        <div class="badg-1">
            <h2><i class="bi bi-award-fill"></i></h2>
            <h5>High-Quality</h5>
            <p>Guaranteed</p>
        </div>

    </div>
    <div class="flexi">
        <div class="badg-1">
            <h2><i class="bi bi-shield-plus"></i></h2>
            <h5>High-Quality</h5>
            <p>Guaranteed</p>
        </div>
        <div class="badg-1">
            <h2><i class="bi bi-globe2"></i></h2>
            <h5>High-Quality</h5>
            <p>Guaranteed</p>
        </div>

    </div>
    <div class="badg-2">
        <h2><i class="bi bi-person-fill"></i></h2>
        <h5>High-Quality</h5>
        <p>Guaranteed</p>
    </div>
</div>