<div class="row">
    <div class="col-2 this">
        <div class="div">
            <h6>This Weeks</h6>
            <h6> top 10 Selected</h6>
            <h6> Products</h6>
        </div>

    </div>
    <div class="col-10 p-0">
        <div class="mob-title">Top 10 Products</div>
        <div class="carousel mt-5" data-flickity='{ "groupCells": true }'>
            <div class="carousel-cell card shadow-sm border-0">

                <img class="mt-4" src="../../assets/circular-saw2.jpg" alt="">
                <h4 class="ms-4">Product</h4>
                <p class="ms-4">Brief description</p>

                <p class="ms-4 price">$300.98 <span class="price2">$350.99</span>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </p>

            </div>
            <div class="carousel-cell card shadow-sm border-0">

                <img class="mt-4" src="../../assets/circular-saw2.jpg" alt="">
                <h4 class="ms-4">Product</h4>
                <p class="ms-4">Brief description</p>

                <p class="ms-4 price">$300.98 <span class="price2">$350.99</span>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </p>

            </div>
            <div class="carousel-cell card shadow-sm border-0">

                <img class="mt-4" src="../../assets/circular-saw2.jpg" alt="">
                <h4 class="ms-4">Product</h4>
                <p class="ms-4">Brief description</p>

                <p class="ms-4 price">$300.98 <span class="price2">$350.99</span>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </p>

            </div>
            <div class="carousel-cell card shadow-sm border-0">

                <img class="mt-4" src="../../assets/circular-saw2.jpg" alt="">
                <h4 class="ms-4">Product</h4>
                <p class="ms-4">Brief description</p>

                <p class="ms-4 price">$300.98 <span class="price2">$350.99</span>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </p>

            </div>
            <div class="carousel-cell card shadow-sm border-0">

                <img class="mt-4" src="../../assets/circular-saw2.jpg" alt="">
                <h4 class="ms-4">Product</h4>
                <p class="ms-4">Brief description</p>

                <p class="ms-4 price">$300.98 <span class="price2">$350.99</span>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </p>

            </div>
            <div class="carousel-cell card shadow-sm border-0">

                <img class="mt-4" src="../../assets/circular-saw2.jpg" alt="">
                <h4 class="ms-4">Product</h4>
                <p class="ms-4">Brief description</p>

                <p class="ms-4 price">$300.98 <span class="price2">$350.99</span>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </p>

            </div>
            <div class="carousel-cell card shadow-sm border-0">

                <img class="mt-4" src="../../assets/circular-saw2.jpg" alt="">
                <h4 class="ms-4">Product</h4>
                <p class="ms-4">Brief description</p>

                <p class="ms-4 price">$300.98 <span class="price2">$350.99</span>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </p>

            </div>
        </div>
    </div>
</div>