<nav class="navbar bg-topNav">
    <div class="">
        <a class="ms-5 " href="#">
            <img src="https://s3-alpha-sig.figma.com/img/c4dc/9c20/916a8a5fe7745f841620c785ff47dff9?Expires=1616976000&Signature=Gh1k9bYNz0J6L~iDUbdmLT~v9VTm9HEaSF4QYPUfhrffGimcV8t~riJBi5HHuKyqsMfOcm9E5d5qGRwjo3v5asQkxMJbLw2RsXMibHZS5Yj1cGu8fwf5QrjBjsqMH7QguckXPY-FeeaW5uDKQvDe4ApDlqNZ~70Zkl4naQNN~UANrrMsLhOzhDUNM5VFNV0-lSsSTvp-2woY376vh3v7gUbbh8p85dg4gtqJyPZmwyXXYIuqVez~v1TOs1kVSR0Ai0FICpG8RvJVi-Mkd1Nqoba1T2cj1aR~rB4MXMKC3zd7mE78sM7RC1oMvojvpSL8hQbcidodohcsKYyw19J6Yw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
                alt="" width="200" height="44.44">
        </a>
    </div>

    <div class="form-group has-feedback ">
        <form>
            <input class="search" type="search" aria-label="Search"><i class="bi bi-search form-control-feedback"></i>
        </form>
    </div>
    <div class="icons">
        <div class="login">
            <h4><i class="bi bi-person "></i></h4>
            <p>Sign in</p>
        </div>
        <div class="login">
            <h4><i class="bi bi-cart3 "></i></h4>
            <p>Cart</p>
        </div>
        <div class="login2 login">

            <p>En | USD</p>
        </div>
    </div>
</nav>