<app-top-nav-bar></app-top-nav-bar>
<app-menu>
</app-menu>
<div class=" row tool">
    <div class="col-6">

    </div>

    <div class="col-6">
        <h1 class="text-new">New Products</h1>
        <h2 class="text-new2">Japan</h2>
        <p class="text-new3">Discover Now</p>
    </div>

</div>
<app-highlighted></app-highlighted>
<app-cards></app-cards>

<app-logo-slide></app-logo-slide>
<app-badges></app-badges>
<app-weeks></app-weeks>
<div class="container">
    <div>
        <p class=" blog1 mt-5">Blog Post
            <span class="blog float-end">+View All</span></p>
    </div>
</div>
<app-blog></app-blog>
<app-sign-up></app-sign-up>
<app-footer></app-footer>