.
<div class="container-fluid off">
    <div class="row">
        <div class="col flex">
            <div class="off2">
                <h1>70% off</h1>
                <button class="btn btn-primary btn-lg bt">SUBSCRIBE</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 sign">

            <div class="col-6">
                <div class="ms-3 si">
                    <h2><i class="bi bi-envelope-fill me-3"></i></h2>

                    <div class="si2">
                        <h6>Sign Up for Newsletter</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, dicta aliquam debitis labore quibusdam sequi tempore.</p>
                    </div>


                </div>
            </div>
            <div class="col-6 mob-s">
                <div class="input-group w-75 ms-5 ">
                    <input type="email " class="form-control  " placeholder="Enter your email here" aria-label="Recipient's username ">
                    <button class="btn btn-outline-secondary  bts" type="button ">SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <div class="mob-e">
            <div class="">
                <div class=" w-75 inp ">
                    <input type="email " class="form-control inp2 " placeholder="Enter your email here" aria-label="Recipient's username ">

                </div>
                <button class="btn btn-outline-secondary  bts" type="button ">SUBSCRIBE</button>
            </div>


        </div>


    </div>