<div class="container">
    <div class="">
        <div class="card-group">
            <div class="card me-4 blog3">
                <img src="../../assets/cardblog.jpeg" class="card-img-top" alt="" width='300' height='250'>
                <div class="card-body">
                    <h5 class="card-title">Blog post publication 1</h5>
                    <p class="card-text">Author</p>
                </div>
            </div>
            <div class="card mob-s me-4 blog3">
                <img src="../../assets/cardblog.jpeg" class="card-img-top" alt="" width='300' height='250'>
                <div class="card-body">
                    <h5 class="card-title">Blog post publication 1</h5>
                    <p class="card-text">Author</p>

                </div>
            </div>
            <div class="card mob-s  blog3">
                <img src="../../assets/cardblog.jpeg" class="card-img-top" alt="" width='300' height='250'>
                <div class="card-body">
                    <h5 class="card-title">Blog post publication 1</h5>
                    <p class="card-text">Author</p>

                </div>
            </div>
        </div>
    </div>
</div>