/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "mulish";
    src: local("mulish"), url(./assets/fonts/Mulish-Regular.ttf) format("truetype");
}

body {
    width: 99%;
}