<div class="container dis-desk ">
    <carousel>
        <div class="carousel-cell">
            <img class="imagen" src="/assets/1.jpg">
        </div>
        <div class="carousel-cell">

        </div>
        <div class="carousel-cell">
            <img class="imagen" src="../assets/2.jpg">
        </div>
        <div class="carousel-cell">

        </div>
        <div class="carousel-cell">
            <img class="imagen" src="../assets/3.jpg">
        </div>
        <div class="carousel-cell">

        </div>
        <div class="carousel-cell">
            <img class="imagen" src="../assets/4.jpg">
        </div>
        <div class="carousel-cell ">

        </div>
        <div class="carousel-cell">
            <img class="imagen" src="../assets/5.jpg">
        </div>
        <div class="carousel-cell">

        </div>
        <div class="carousel-cell">
            <img class="imagen" src="../assets/6.jpg">
        </div>
        <div class="carousel-cell">

        </div>
        <div class="carousel-cell">
            <img class="imagen" src="/assets/1.jpg">
        </div>
        <div class="carousel-cell">

        </div>
        <div class="carousel-cell">
            <img class="imagen" src="../assets/2.jpg">
        </div>
        <div class="carousel-cell ">

        </div>
        <div class="carousel-cell">
            <img class="imagen" src="../assets/3.jpg">
        </div>
        <div class="carousel-cell ">

        </div>
        <div class="carousel-cell">
            <img class="imagen" src="../assets/4.jpg">
        </div>
        <div class="carousel-cell ">

        </div>
        <div class="carousel-cell">
            <img class="imagen" src="../assets/5.jpg">
        </div>
        <div class="carousel-cell ">

        </div>

        <div class="carousel-cell">
            <img class="imagen" src="../assets/6.jpg">
        </div>
    </carousel>
</div>
<div class="cont-mob">
    <h4>Our Brands</h4>
</div>
<div class="cont-mob">

    <img src="../../assets/1.jpg" alt="">
    <img class="imgs mt-4" src="../../assets/3.jpg" alt="" width="140px" height="40px">
</div>
<div class="cont-mob mt-5">
    <img src="../../assets/2.jpg" alt="" width="150px">
    <img class=" imgs2 " src="../../assets/6.jpg " alt=" " width="150px ">
</div>
<div class="cont-mob mt-5">
    <img src="../../assets/4.jpg" alt="" width="150px">
    <img class=" imgs2 " src="../../assets/5.jpg " alt=" " width="150px ">
</div>